<!DOCTYPE html>
<html lang="es">

<head>
    <title>Registro</title>
    <meta charset="UTF-8">

    <%- include('partials/head.html');  %>

</head>

<body>
    <%- include('partials/navigation.html');  %>
        <br>

        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Ingreso Paciente</h4>


                <p class="divider-text">
                    <span class="bg-light">Ingrese los datos</span>
                </p>
                <form action="/addUser" method="post">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="nombre" class="form-control" placeholder="Nombre" type="text" id="nombre">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="Cui" class="form-control" placeholder="CUI" type="number" id="CUI">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+502</option>
                </select>
                        <input name="Telefono" class="form-control" placeholder="Telefono" type="number" id="cel">
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-calendar-check"></i> </span>
                        </div>
                        <input name="Nacimiento" class="form-control" id="Nacimiento" placeholder="Fecha de Nacimiento" type="date">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-person-check"></i> </span>
                        </div>
                        <input class="form-control" id="Sexo" placeholder="Sexo" type="text" name="Sexo">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="bi bi-hash"></i> </span>
                        </div>
                        <input class="form-control" id="Nit" placeholder="Nit" type="number" required name="Nit">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Crear Usurio">
                    </div>

                </form>
            </article>
        </div>

        </div>

</body>

</html>